
body{
    font-family: new;
    box-sizing: border-box;
    font-size: xx-large;
    font-weight: 800;
}
h1,h2{
    color: aliceblue;
    font-weight: 900;
    font-size: 100px;

}
p{
    color: gold;
    border: 10px solid black;
}
@font-face {
    font-family: new;
    src: url(./Fortune.otf);
}